<!DOCTYPE html>
<html lang="ar" dir='rtl'>
<%- include('./components/head.ejs')  %> 
<body>
    <div class="container">
        <%- include('./components/header.ejs') %> 
        
        <%- include('./components/logout.ejs')  %> 

        <%- include('./components/newUserForm.ejs')  %> 

        <%- include('./components/footer.ejs') %> 

    </div>



    <script src="/script.js"></script>

</body>
</html>